header {
    text-align: center;
}

.form-control {
    width: 40%;
}

#description {
    height: 20em;
}

body {
    font-size: 20px;
/*    font-family: 'Indie Flower', cursive;
	font-family: 'Abel', sans-serif;*/
	font-family: 'Raleway', sans-serif;	
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	border: none;
}