{% extends "layout.html" %}
{% block body %}
    <h3>About</h3>
    <p>
        Hello, I'm Charlie Thomas. I love programming, model rocketry, food and being a nerd. Find me around the web as Ottermad.
    </p>
    <p>
        I am a backend and frontend developer with experience in Python and Flask, Java and Android Developement, PHP, HTML, CSS and Javascript.
    </p>
    <p>
        If you would like to follow me on Twitter, my username is 
        <a href="https://twitter.com/AttwoodCharlie">
            @AttwoodCharlie
        </a>
    </p>
    <p>
        If you want to get in touch shoot me an email or tweet me.
    </p>
{% endblock %}