{% extends "layout.html" %}
{% block body %}
    <form method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input name="title" id="title" type="text" class="form-control" value="{% block title_placeholder %}{% endblock %}">
        </div>
        <div class="form-group">
            <label for="link">Link</label>
            <textarea name="link" id="link" class="form-control">{% block link_placeholder %}{% endblock %}</textarea>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" id="description" class="form-control">{% block description_placeholder %}{% endblock %}</textarea>
        </div>
        <button type="submit" class="btn btn-success btn-lg">Submit</button>
    </form>
{% endblock %}