<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="bootstrap.min.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="bootstrap-theme.min.css") }}">
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style.css") }}">
        <title>Charles Thomas | Developer</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{{ url_for("static", filename="jquery.collapse.js") }}"></script>
        <script src="{{ url_for("static", filename="jquery.collapse_storage.js") }}"></script>
        <script src="{{ url_for("static", filename="jquery.collapse_cookie_storage.js") }}"></script>
    </head>
    <body>
        <div class="container theme-showcase">
            <header>
                <div class="hidden-xs">
                <h1>Charles Thomas</h1>
                <h2>Developer</h2>
                <p>
                    |
                    <a href="{{ url_for("show") }}">
                        BLOG
                    </a>
                    |
                    <a href="{{ url_for("about") }}">
                        ABOUT
                    </a>
                    |
                    <a href="{{ url_for("portfolio") }}">
                        PORTFOLIO
                    </a>
                    |
                    <a href="{{ url_for("contact") }}">
                        CONTACT
                    </a>
                    |
                    {% if not session.logged_in %}
                        <a href="{{ url_for("login") }}">
                            LOGIN
                        </a>
                    {% else %}
                        <a href="{{ url_for("logout") }}">
                            LOGOUT
                        </a>
                    {% endif %}
                    |
                </p>
                </div>
                <nav class="navbar navbar-default hidden-sm hidden-md hidden-lg navbar-fixed-top">
                  <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">Charles Thomas</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="{{ url_for("show") }}">
                                    BLOG
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for("about") }}">
                                    ABOUT
                                </a> 
                            </li>
                            <li>
                                <a href="{{ url_for("portfolio") }}">
                                    PORTFOLIO
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for("contact") }}">
                                    CONTACT
                                </a>
                            </li>
                            <li>
                                {% if not session.logged_in %}
                                    <a href="{{ url_for("login") }}">
                                        LOGIN
                                    </a>
                                {% else %}
                                    <a href="{{ url_for("logout") }}">
                                        LOGOUT
                                    </a>
                                {% endif %}
                            </li>    
                        </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                </nav>
                
            </header>
            {% block body %}
            {% endblock %}
            <p class="footer">
                &copy; Charles Thomas 2015
            </p>

        </div>
        
        
        {% for message in get_flashed_messages() %}
            <script>
                alert("{{ message }}");
            </script>
        {% endfor %}
        <script src="{{ url_for("static", filename="bootstrap.min.js") }}"></script>
    </body>
</html>