{% extends "layout.html" %}
{% block body %}
	<h3>Projects</h3>
    <ul>
       
        {% for project in projects %}
            <li>
                <h2>
                    {{ project["title"] }}
                </h2>

                <p>
                	<a href="{{ project["link"] }}" class="link">
                		{{ project["link"] }}
                	</a>
                </p>
                <button class="btn btn-info view-btn" type="button" data-toggle="collapse" data-target="#{{ project["id"] }}" aria-expanded="false" aria-controls="collapseExample">
                  View Description
                </button>
                <div class="collapse" id="{{ project["id"] }}">
                  <div class="well">
                    <p>
                        {{ project["description"] }}
                    </p>
                  </div>
                </div>
                {% if session.logged_in %}
                   <button class="btn btn-warning" onclick="location.href='{{ url_for("update_project", id=project.id) }}'">
                       Edit
                   </button>
                    <button class="btn btn-danger" onclick="location.href='{{ url_for("delete_project", id=project.id) }}'">
                        Delete
                    </button>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if session.logged_in %}
        <button class="btn btn-success btn-lg" onclick="location.href='{{ url_for("add_project") }}'">Add A Project</button>
    {% endif %}
{% endblock %}